#flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/* Box styling */
.box2 {
  margin: 10px;
  flex-basis: 40vw;
  background-color: var(--body-color);
  padding: 10px; /* Added padding for better spacing */
}

h2, p {
  color: var(--second-color);
  text-align: center;
  margin: 10px 0; /* Added margin for better spacing */
}

/* Ensure long text breaks properly */
p {
  overflow-wrap: break-word;
}

#certifications {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#SpectoConsultHelp {
  margin-top: 1vw;
  text-align: center;
  color: var(--first-color);
}

/* Image styling */
.imagecert {
  max-width: 100%; /* Ensure image doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  margin: 10px 0; /* Added margin for spacing */
}

/* Media query for mobile devices */
@media (max-width: 1100px) {
  #flexContainer {
    flex-direction: column; /* Stacks columns vertically on mobile */
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

  .box2 {
    margin: 10px 10px 20px 10px; /* Adds side margins to the boxes */
    width: calc(100% - 20px); /* Adjusts width to account for the side margins */
    flex-grow: 1;
    flex-basis: auto;
  }

  #SpectoConsultHelp {
    margin-top: 1vw;
    text-align: center;
    color: var(--first-color);
    font-size: 5vw;
  }
}
